<div>
    <h2>
        Realtime Products
    </h2>
    <hr>
        <ul id="listProducts">

        </ul>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/realtimeprod.js"></script>


