<div>
    <h2 class="text-center">
        Realtime Products
    </h2>
    <hr>
        <ul id="listProducts" class="text-primary">

        </ul>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/realtimeprod.js"></script>



