<header>
    <h1 class="text-center bg-info shadow-lg p-3 mb-5 bg-body rounded">Cart</h1>
</header>
<table class="table table-light">

  <thead>
    <tr class="">
      <th scope="col">Title</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col">Image</th>
    </tr>
  </thead>
  <tbody>
 
   {{#each products}}
    <tr>
      
      <td class="align-middle">{{product.title}}</td>
      <td class="align-middle">{{this.quantity}}</td>
      <td class="align-middle">{{product.price}}</td>
      <td><img class="rounded mx-auto d-block" style="width: 8rem; height:auto" src={{product.thumbnail}}></img></td>
    </tr>
   {{/each}} 

