<header>
    <a href="/views/session/register">Register</a>
</header>
<main>
    <div id="login-container">
        <h2>Log in</h2>
        <form id="loginForm" method="post" action="/api/session/login">
            <label for="email">Email:</label>
                <input type="text" name="email" id="email">
            <label for="password">Password:</label>
                <input type="password" name="password" id="password">
            <button>Log in</button>
        </form>
    </div>
</main>