<header>
  <nav class="h-100 w-100 navbar navbar-expand-lg">
    <h2 class="text-center p-1">Change Password</h2>
  </nav>
</header>
<main>
    <div class="container">
      <h1>Restore password</h1>
      <form id="newPassword">
        <div class="form-group">
          <label for="password">New password</label>
          <input type="password"
                 class="form-control" 
                 id="password"
                 placeholder="Enter your new password">
        </div>
        <button id="passwordButton" class="btn btn-primary">Restore password</button>
      </form>
    </div>
</main>
<script src="/static/js/newPassword.js"></script>