<header class="d-flex flex-column">
    <a href="/api/views/products">Return Home</a>
    <a href="/api/views/session/logout">Log out</a>
</header>
<main>
    <p class="font-weight-bold align-self-start">Welcome: {{first_name}}, {{last_name}}!</p>
    {{!-- aca tendria que renderizar el carrito o historial de compras--}}

</main>