<header class="d-flex flex-column">
  <a href="/api/views/products">Return Home</a>
  <form action="/api/views/session/logout" method="post">
    <button class="btn btn-secondary">Log Out</button>
  </form>
</header>
<main>
  <p class="font-weight-bold align-self-start">Welcome:
    {{first_name}},
    {{last_name}}!</p>

</main>